DATABASE_URL="postgresql://..."
DIRECT_URL="postgresql://..."

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="..."
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="..."

ADMIN_EMAIL="..."
ADMIN_PASSWORD_HASH="..."
ADMIN_AUTH_SECRET="..."
