# Database
DATABASE_URL="postgresql://..."
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="..."
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="..."

# Admin Auth
ADMIN_EMAIL="..."
ADMIN_PASSWORD_HASH="..."
ADMIN_AUTH_SECRET="..."
